@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --foreground: #171717;
  color-scheme: light;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}
